<div class="container">
<h4 class="pregunta">Información de la vivienda</h4>
<p>Tipo de vivienda</p>
<mat-form-field>
  <mat-label>tipo</mat-label>
  <mat-select>
    <mat-option *ngFor="let tipovivienda of tipoviviendas" [value]="food.value">
      {{tipovivienda.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<p>Tipo de contrucción</p>
<mat-form-field>
  <mat-label>tipo</mat-label>
  <mat-select>
    <mat-option *ngFor="let tipocontruccion of tipoconstrucciones" [value]="food.value">
      {{tipocontruccion.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<p>Año de contrucción</p>
<mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder={{anyocontruccion}}>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<p>Superficie contruida</p>
<mat-form-field class="example-full-width">
  <textarea matInput placeholder="{{superficiecontrucida}}"></textarea>
</mat-form-field>




<div class="seguimiento">
  <button mat-button class="butredondo"(click)="navigateToAtras()">Atrás</button>
    <button mat-button class="butsig"(click)="navigateToSiguiente()">Siguiente</button>
    </div>
</div>
