  <div class="container">
  <div class="uso">
  <h4 class="pregunta">¿Qué relación tiene con la vivienda? </h4>

  <button mat-button>Propietaro en propiedad</button>
  <br>
  <button mat-button>Propietaro y la tengo alquilada</button>
  <br>
  <button mat-button>Inquilino</button>

  <h4 class= "pregunta">¿Qué uso se le da a la vivienda? </h4>

  <button mat-button>Habitual</button>
  <br>
  <button mat-button>Fines de semana</button>
  <br>
  <button mat-button>Vacacional</button>
  <br>
  <button mat-button>Desocupada</button>
  </div>

  <div class="">
    <button mat-button class="butredondo"(click)="navigateToAtras()">Atrás</button>
    <button mat-button class="butsig"(click)="navigateToSiguiente()">Siguiente</button>
</div>
</div>
